extends layout


block content

    nav.navbar
      a(href='/logout') Logout

    center
      h1 
        strong Welcome to My Guestbook!
    center
      h3 Feel free to leave a message.
      
      p
      p
      
    
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputUserName.form-control(type="text", placeholder="What's your name?", name="username")
        input#inputUserMessage.form-control(type='text', placeholder='Say something!', name="usermessage")
        button.form-control.btn.btn-danger(type="submit") Post Message

    
    .container
      .row
        each user, i in userlist
          .col-md-3.guestbox
            
            p
            p
            h3
              strong #{user.username}
            p
            h4 
              =user.message
    
