extends layout

block content

    center
      
    #logo
      center
        img(src='/images/cooltext222740771283643.png', alt='', margin-top='10em')

    p
    p
    p
    
    center
      a.btn.btn-success.btn-lg(href='/login', role='button') Enter
