extends layout

block content

    center
      h1 
        strong Guestbook
    p
      
    center  
      //- img(src='http://earthmanfarm.com/wp-content/uploads/2015/05/please-sign-our-guestbook.jpg', alt='')

    
    //- center
    //-   a.btn.btn-success.btn-lg(href='/login', role='button') Enter
    //-   h1
