extends layout

block content
  h1 test userlist.jade


  table
    thead
      td  Name
      td  Email
      td  Message
      td
    tbody
      each user, i in userlist
        tr
          td
            a(href="#{user.username}")= user.username
          td
            a(href="mailto:#{user.email}")= user.email
          td
            =user.message
          td
            a(href="#{user._id}")
              button delete
